@import 'app-wide';

#events-container {
	color: white;
}

#navigation-container {
	@include add-nav-pattern();
}

#events-list-container {
	@include add-pattern();
}

#map-container {
	background: blue; 
	height: 100%;
}