@import 'transitions';
@import 'app-wide';

/* Upper Elements */
.search-bar {
}

.events-filter-tabs-container {
}

.events-table-container {
	overflow: auto;
}

tr {
	cursor: pointer;
}

.animated-event-row.ng-enter, 
.animated-event-row.ng-leave
{ 
  @include animated-event-row-transition(400ms);
} 
 
.animated-event-row.ng-enter.animated-event-row.ng-enter-active, 
.animated-event-row.ng-leave {
  @include animated-event-row-leave-animation();
}
 
.animated-event-row.ng-leave.animated-event-row.ng-leave-active,
.animated-event-row.ng-enter {
  @include animated-event-row-enter-animation();
}

.animated-event-row.ng-hide {
  display:none;
}
