@import 'transitions';
@import 'app-wide';

$search-bar-height: 15%;
$events-filter-tabs-container-height: 10%;

/* Container */
.events-list-container {
	width: 100%;
	height: 100%;
}

/* Upper Elements */
.search-bar {
	height: $search-bar-height;
}

.events-filter-tabs-container {
	height: $events-filter-tabs-container-height;
}

.events-table-container {
	height: 100% - $search-bar-height - $events-filter-tabs-container-height;
	overflow: auto;
}

tr {
	cursor: pointer;
}

.animated-event-row.ng-enter, 
.animated-event-row.ng-leave
{ 
  @include animated-event-row-transition(400ms);
} 
 
.animated-event-row.ng-enter.animated-event-row.ng-enter-active, 
.animated-event-row.ng-leave {
  @include animated-event-row-leave-animation();
}
 
.animated-event-row.ng-leave.animated-event-row.ng-leave-active,
.animated-event-row.ng-enter {
  @include animated-event-row-enter-animation();
}

.animated-event-row.ng-hide {
  display:none;
}
