@import 'app-wide';

$events-list-container-width: 35%;
$times-container-height: 12%;
$navigation-container-height: 20%;

#events-container {
	height: 100%;
	color: white;
}

#navigation-container {
	@include add-nav-pattern();
}

#events-list-container {
	@include add-pattern();
}

#map-container {
	background: blue; 
	height: 100%;
}