
.events-container {
	height: 100%;
}

.events-list {
	width: 35%;
	height: 100%;
	position: relative;
	bottom: 100%;
	background: red; 
}

.map {
	width: 65%;
	height: 100%;
	position: relative;
	left: 35%;
	background: blue; 
}

