@import 'app-wide';

$navigation-wrapper-height: 20%; 
$app-color: red;

html, body {
    width: 100%;
    height: 100%;
}

.main-wrapper {
    height: 100%;
    margin: 0px;
	@include add-pattern();
}