$navigation-wrapper-height: 20%; 

html, body {
    width: 100%;
    height: 100%;
}

.navigation-wrapper {
	height: $navigation-wrapper-height;
	background: green;
}

.main-wrapper {
    height: 100% - $navigation-wrapper-height;
    margin: 0px;
}