@mixin circle() {

}

.container-full {
	margin: 0 auto;
  width: 100%;
}

.placeholder img {
	border-radius: 50%;
}

.circle {
	@include circle();
}

.circle-red {
	@extend .circle;
	color: red;
}

.circle-green {
	@extend .circle;
	color: green;
}

.circle-blue {
	@extend .circle;
	color: blue;
}