<div class="container-full">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-1 col-lg-1 bar-name-container">
      i am bar name
    </div>
    <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 current-date-container">
      <input ng-model="currentDate" id="date-picker" data-date-format="dd/mm/yyyy">
    </div>

      <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 row current-times-container">
        <select ng-model="currentShift" ng-options="v as k for (k,v) in shifts">
        </select>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-2 col-lg-2 row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
          <select ng-model="currentHour" ng-options="time for time in currentShift.times" ng-change="timeChanged()">
            <option value="">Entire Shift</option>
          </select>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <select ng-disabled="currentHour === null" ng-model="currentMinutes" ng-options="time for time in shiftsMinutes" ng-change="timeChanged()">
          </select>
        </div>
      </div>
      <div class="col-xs-8 col-sm-8 col-md-4 col-lg-4 row nav-imgs-container">
      </div>
      <div class="col-xs-4 col-sm-4 col-md-1 col-lg-1">settings</div>
      <!-- <button ng-click="clicked()"></button> -->
  </div>
</div>
